@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    color: #101101;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: Poppins;
    transition: all .2s linear;
}

html {
    overflow-x: hidden;
}

/* ------------------ navigation bar styling -------------------- */

.dropdown-menu {
    position: sticky;
    top: 80px;
    left: 0;
    z-index: 1001;
    width: 100vw;
    height: 0;
    transition: height .4s ease-in;
    background: #6e6e6e;
    display: none;
}

.toggle_dropdown {
    display: block;
    height: auto;
}

.dropdown-menu-section li {
    text-align: left;
    padding: 20px 70px;
    border-bottom: 1px solid #000;
}

.dropdown-menu-section li a {
    color: aliceblue;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #a39f9f;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    i {
        margin-left: 15px;
        color: rgb(122, 86, 86);
    }

    cursor: pointer;
    font-size: 30px;

}

.logo p .fa-bars {
    color: #000;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.sections-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections-list a {
    margin: 0 12px;
    font-size: 17px;
    color: #101101;
}

.book-btn {
    display: flex;
    align-items: center;
}

.book-btn button,
.book-btn a {
    background-color: transparent;
    font-size: 0.9rem;
    border: 2px solid #101101;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.book-btn button:hover,
.book-btn a:hover {
    border: 2px dashed #101101;
    transition: all .2s linear;
}

/* ---------------- Home section styling ------------------- */
.home {
    background: url("images/home-bg.jpg") no-repeat;
    background-size: cover;
    padding: 8rem 10% 3rem;
    min-height: auto;
    background-position: center;
}

.home .hoin-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ma-heng h1 {
    font-size: 55px;
    margin-bottom: 15px;
    font-weight: 550;
}

.ma-heng p {
    margin-bottom: 12px;
    font-weight: 550;
}

.ani-img {
    padding-top: 100px;
    margin-right: 130px;
}

.ani-img img {
    animation: bounce infinite 2s linear;
    padding-left: 120px;
    height: 20rem;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-5rem);
    }
}

.home .slide-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding-top: 50px;
}

.home .slide-bar img {
    margin-right: 25px;
    height: 5rem;
}

.home .slide-bar img:hover {
    transform: translateY(-30px);
    transition: all .5s linear;
}

/* ---------------------- About Section Styling --------------------- */
.about,
.menu,
.review,
.book {
    height: auto;
    padding: 5rem 10% 1rem;
}

.about-heading,
.menu-heading,
.review-heading,
.book-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-heading p,
.menu-heading p,
.review-heading p,
.book-heading p {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.311);
    -webkit-text-stroke: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
    font-family: Tourney;
    font-weight: 100;
}

.about-heading p span,
.menu-heading p span,
.review-heading p span,
.book-heading p span {
    position: absolute;
    z-index: 100;
    -webkit-text-stroke: 0px;
    top: 26%;
    left: 25%;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-transform: none;
    word-spacing: 2px;
}

.ab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.ab-content .img {
    margin-right: 50px;
    flex-basis: 60%;
    display: flex;
}

.ab-content .img img {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}


.inner-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.inner-content h1 {
    margin-bottom: 40px;
    word-spacing: 3px;
    font-size: 30px;
    font-weight: 550;
}

.inner-content p {
    margin-top: -20px;
    font-size: 15px;
    word-spacing: 0.1px;
    text-align: justify;
}

.inner-content .book-btn {
    margin-top: 30px;
}

.special {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special .special-options {
    text-align: center;
    padding: 15px 25px;
    margin: 10px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #000;
}

.special .special-options img {
    width: 50px;
}

.special .special-options h4 {
    font-size: 16px;
}

/* -------------------- Menu Section Styling ----------------- */

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.menu-items .card {
    margin: 10px 25px;
    width: 500px;
    padding: 30px 30px 30px 60px;
    border: 2px solid #101101;
    border-radius: 5px;
    position: relative;
    color: #000;
}

.menu-items .card:hover {
    border-radius: 5px;
    border: 2px dashed #101101;
    transition: all .5s linear;
}

.menu-items .card img {
    position: absolute;
    top: 20%;
    left: -30px;
}

.menu-items .card h2 {
    font-size: 23px;
    margin-bottom: 6px;
}

.menu-items .card p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* -------------------- Review Section Styling ---------------------- */

.review-heading p {
    font-size: 6rem;
}

.review-heading p span {
    left: 15%;
}

.review-box {
    margin: 40px auto 5px auto;
    padding: 20px 30px;
    text-align: center;
    border: 1.5px solid #000;
    border-radius: 5px;
    position: relative;
    transition: all .2s linear;
}

.fa-quote-left {
    position: absolute;
    top: 0;
    left: 32px;
    font-size: 70px;
    color: #bab9b9;
}

.fa-quote-right {
    position: absolute;
    bottom: 5px;
    right: 40px;
    font-size: 70px;
    color: #bab9b9;
}

/* ------------------- Booking Section Styling ------------------- */

.booking-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.booking-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid #000;
    padding: 60px 40px;
    border-radius: 5px;
}

.booking-form form input,
.booking-form form textarea {
    border: 2px solid #000;
    margin: 7px 0;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.booking-form form textarea {
    resize: none;
}

.booking-form form .book-btn {
    margin-top: 10px;
    font-size: 18px;
}

.booking-form form input:focus,
.booking-form form textarea:focus {
    border: 2px dashed #000;
}

/* ---------------------- Footer ----------------------- */

.footer {
    width: 100%;
    height: auto;
    padding: 40px 10%;
    background-color: #101101;
    color: rgb(255, 255, 255) !important;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 20px;
}

.footer-links .navigate-links {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 15px;
}

.navigate-links a {
    margin: 10px 8px;
    font-size: 15px;
}

.navigate-links a i,
.navigate-links a span,
.navigate-links h2 {
    color: rgb(255, 255, 255) !important;
}

.navigate-links h2 {
    margin-bottom: 20px;
}

.navigate-links a span {
    margin-left: 5px;
}

.navigate-links a:hover i {
    margin-right: 16px;
    transition: all .2s linear;
}

.copyright {
    margin: 15px auto 0px;
    text-align: center;
}

.copyright p {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.copyright p span {
    border-bottom: 2px dashed #ffffff;
}